# 仮想環境
env_daylife/

# Pythonのキャッシュ
__pycache__/
*.py[cod]

# VSCodeなどのエディタ設定
.vscode/

# OSによる不要ファイル
.DS_Store
Thumbs.db

movie/frames/
movie/frames_2/
movie/frames_3/

cleaning_movie/self_movie/